# User and Group IDs (run `id` in your terminal to check)
PUID=1000
PGID=1000

# Timezone (e.g. America/New_York)
TZ=America/New_York

# Default umask for created files
UMASK=022

# External port mapping for ServUO client connections
PORT_FESTERUO=2593

# DNS Servers
DNS_PRIMARY=1.1.1.1
DNS_SECONDARY=1.0.0.1
